@import '/src/styles/constants.scss';

.container {
	overflow-x: clip;
	color: $primary;
	position: relative;
	// min-height: 200vh;

	&:nth-child(odd):not(:first-child) {
		background-color: #fff;
	}
}
